.footer {
    background: #333;
}

.footer h1 {
    font-size: 1rem;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.footer h1 span {
    color: #FFF200;
}

.footer .brand {
    text-align: center;
    margin-top: 2rem;
}

.footer .brand .logo img {
    height: 5rem;
}

.footer .brand .icons a {
    font-size: 1.5rem;
    margin: 2rem 1rem;
    color: #fff;
    text-decoration: none;
}

.footer .brand .icons a:hover {
    color: #FFF200;
}

.footer .footer-links {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin: 1rem 0;
}

.footer .footer-links h3 {
    font-size: 1.5rem;
    color: #FFF200;
}

.footer .footer-links a {
    color: #fff;
    font-size: 1rem;
}

.footer .letter h2 {
    font-size: 1.2rem;
    margin: 2rem 0;
    color: #fff;
}

.footer .letter input[type="text"] {
    border: .1rem solid #fff;
    outline: none;
    background: none;
    height: 3rem;
    width: 18rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
}

.footer .letter input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 8rem;
    margin: 1rem 0;
}

.footer .letter input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

.footer .letter input[type="submit"]:hover::before {
    width: 100%;
}

.footer .letter input[type="submit"]:hover {
    color: #333;
    background: #FFF200;
}

.fa-times {
    -webkit-transform: skew(-180deg) rotate(180deg);
    transform: skew(-180deg) rotate(180deg);
}