.product {
    width: 300px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > img {
    height: 170px;
    border-radius: 10px;
}

.product-info > p {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.info-name {
    font-size: 1rem;
    overflow: hidden;
}

.info-description {
    font-size: 0.8rem;
}

.info-price {
    font-weight: bold;
}

.info-buttom {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #171717;
    background: #f4f4f4;
    padding: 8px 16px;
    border: 1px solid #171717;
    font-size: 1rem;
}

.info-buttom:hover {
    background: #171717;
    color: #f4f4f4;
}