.about .heading h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}

.about .heading h1 span {
    color: #FFF200;
}

.about .content {
    margin: 5rem auto;
}

.about .content p {
    font-size: 1.2rem;
}

.about .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 10rem;
    background: #333;
    color: #fff;
}

.about .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

.about .content button:hover::before {
    width: 100%;
}

.about .content button:hover {
    color: #333;
}

.about .image img {
    width: 30vw;
}